html {
  background: linear-gradient(
    135deg,
    #f5f3ee 0%,
    #d1ceca80 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: rgb(9, 12, 83);
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
nav {
  background: rgb(182, 175, 166);
}
.navbar {
  color: rgb(9, 12, 83);
}
.nav-this-page {
  font-weight: bold;
  border-bottom: solid 1px rgba(175, 41, 81, 0.774);
  padding-bottom: 10px;
}
.row {
}
.row::after,
nav::after {
  content: "";
  clear: both;
  display: table;
}
.navbar {
  float: right;
}
.nav-link {
  margin-left: 20px;
}
.col {
  float: left;
  padding: 20px;
}
.w-90 {
  width: calc(90% - 40px);
}
.w-85 {
  width: calc(85% - 40px);
}
.w-80 {
  width: calc(80% - 40px);
}
.w-75 {
  width: calc(75% - 40px);
}
.w-60 {
  width: calc(60% - 40px);
}
.w-55 {
  width: calc(55% - 40px);
}
.w-50 {
  width: calc(50% - 40px);
}
.w-45 {
  width: calc(45% - 40px);
}
.w-40 {
  width: calc(40% - 40px);
}
.w-30 {
  width: calc(30% - 40px);
}
.w-25 {
  width: calc(25% - 40px);
}
.w-20 {
  width: calc(20% - 40px);
}
.w-15 {
  width: calc(15% - 40px);
}
.w-10 {
  width: calc(10% - 40px);
}
.w-5 {
  width: calc(5% - 40px);
}
.float-left {
  float: left;
}
h1 {
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
  font-size: 80px;
  text-transform: lowercase;
  font-weight: 50;
  margin: 15px 0px;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 15px 0px;
  letter-spacing: 2px;
  /* font-family: "Montserrat", sans-serif; */
}
h3 {
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
  font-size: 34px;
  text-transform: lowercase;
  font-weight: 200;
  margin: 15px 0px;
}
h4 {
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
  font-size: 22px;
  text-transform: lowercase;
  font-weight: 480;
  margin: 15px 0px;
  color: rgb(21, 22, 41);
}
h5 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(21, 22, 41);
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}
p {
  font-size: 13px;
  text-align: justify;
  font-weight: 440;
  color: rgb(21, 22, 41);
  letter-spacing: 0.6px;
  line-height: 1.7;
}
hr {
  border: solid 1px rgba(172, 29, 72, 0.774);
  width: 100%;
}
button {
  padding: 12px 24px;
  background: rgba(0, 0, 0, 0.137);
  color: rgb(121, 13, 45);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  border: solid 1px rgba(172, 29, 72, 0.774);
}
.portfolio-main-div {
  background: linear-gradient(
      25deg,
      rgba(241, 233, 226, 1) 0%,
      rgba(230, 228, 217, 0.863) 39%,
      rgba(145, 149, 161, 0.349) 68%,
      rgba(33, 61, 110, 0.027) 89%
    ),
    url("../images/rpg1.png") no-repeat;
  height: 100%;
  filter: blur(0px);
}
.portfolio-next-div {
  background: linear-gradient(135deg, #a86993de 0%, #b13c8ac0 100%),
    url("../images/trivia2.png") no-repeat;
  height: 350px;
  filter: blur(0px);
}
.portfolio-prev-div {
  background: linear-gradient(135deg, #a86993de 0%, #b13c8ac0 100%),
    url("../images/hangman2.png") no-repeat;
  height: 350px;
  filter: blur(0px);
}
.portfolio-icons {
  padding-top: 100px;
  font-size: 50px;
  margin-right: 10px;
}
